#initialize-db-form {
    padding: 50px 100px;
}

#users-charts {
    padding: 0 100px;
}

.normal-whitespace {
    white-space: normal;
}

button.ui-datepicker-current {
    opacity: 1 !important;
    font-weight: bold !important;
}

.calendar-icon {
    width: 30px;
    height: 30px;
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/